<h3 align="center" class="login-title">Welcome to MessageMe - a complete Chat App
  <div class="login-icon"></div>
  <h4 align="center" class="login-subtitle">Log in to continue</h4>
</h3>

<div class="ui placeholder segment">
  <div class="ui stackable very relaxed two column grid">
    <div class="column">
      <%= form_for(:session, html: {class: "ui form", role: "form"}, url: login_path) do |f| %>
        <div class="field">
          <%= f.label :username, "Username" %>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <div class="btn btn-outline-secondary user-icon"></div>
            </div>
            <%= f.text_field :username, placeholder: "Username", class: "form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :password, "Password"%>
          <div class="input-group mb-3">
            <div class="input-group-append">
              <div class="btn btn-outline-secondary password-icon"></div>
            </div>
            <%= f.password_field :password, placeholder: "Password", class: "form-control "%>
          </div>
        </div>
        <%= f.button "Login", class: "ui primary button" %>
      <% end %>
    </div>
    <div class="middle aligned column">
      <button class="ui big button">
        <div class="signup icon"></div>
        Sign up
      </button>
    </div>
  </div>
  <div class="ui vertical vertical-divider"> <p>Or</p></div>
</div>